---
import Launches from "../components/Launches.astro";
import Layout from "../layouts/Layout.astro";

/* export const prerender = false; // server */
---

<Layout title="Welcome to Astro.">
	<main class="w-full px-20">
		<Launches />
	</main>
</Layout>
